/* .saira  {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-blue: #5ea3ec;
  --clr-red: #f64444;
  --clr-orange: #ffb400;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Saira", sans-serif;
  
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  /* overflow: scroll; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 4%;
  transition: all 500ms ease;
}

.panel .tab-name {
  transform: rotate(90deg);
  /* transform-origin: 0;  */
  transform-origin: 10px 40px;
  transition: opacity 300ms ease, transform 700ms ease;
  border: 1px solid black;
  text-transform: capitalize;
  font-size: clamp(0.9rem, 0.55rem + 1.4vw, 1.6rem);
  font-weight: 500;
  /* position: absolute; */
  position: sticky; /*  */
  width: fit-content; /*  */
  top: 0.5rem;
  opacity: 1;
  /* margin-left: 0.5rem; */
  /* left: 3rem;  */
 /* padding-bottom: 1rem; */
 /* margin-bottom: -2rem; */
  /* top: 0.5rem;
  left: 1.2rem;  */
}

/* HOME PANEL */

.home-panel {
  background-color: white;
  z-index: 10;
}

.panel-content {
  opacity: 0;
  transition: opacity 600ms ease 400ms;
}

.visible {
  opacity: 1;
}

.panel-content:not(.visible) {
  transition-delay: 0s;
  transition-duration: 0s;
}

.home__title p {
  margin: 23vh 12vw 300px 8vw;
  font-size: 5vw;
  font-weight: 550;
  font-family: "Antic Didone", serif;
  transform: scaleX(1.1) !important;
}

.background-image {
  background-image: url(images/bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  min-height: 100vh;
  width: 100%;
}

.home__title-2 {
  margin: 220px 0 100px 8vw;
  font-size: 5.5vw;
  font-weight: 550;
  font-family: "Antic Didone", serif;
  transform: scaleX(1.1) !important;
}

.home__market-info-grid {
  margin: 0 5vw 100px 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  min-height: 60vh;
}

.image-div-1 {
  background-image: url(images/pic1.jpg);
}
.image-div-2 {
  background-image: url(images/pic2.jpg);
}
.image-div-3 {
  background-image: url(images/pic3.jpg);
}

.image-div-1,
.image-div-2,
.image-div-3 {
  background-position: 50% 100%;
  background-size: cover;
  display: block;
  height: 80%;
  min-height: 550px;
  width: 100%;
}

.grid-text {
  margin: 30px 0 10px;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  font-weight: 450;
}

.home__market-events {
  display: flex;
  align-items: center; 
  justify-content: space-around;
  margin: 0 5vw 100px 5vw;
}

.market-events-title {
  font-size: 5vw;
  font-weight: 550;
  font-family: "Antic Didone", serif;
  transform: scaleX(1.1);
}

.emoticon {
  font-size: 5rem;
}

.home__market-events-list {
  position: relative;
  margin: 0 5vw 0 5vw;
}

.double-dashed-border,
.double-dashed-border-2 {
  background-image: 
    linear-gradient(to right, black 12px, transparent 12px), linear-gradient(to right, black 12px, transparent 12px);
  background-position: 0 0, 0 14px;
  background-size: 24px 1px; /* dash length, line thickness */
  background-repeat: repeat-x;
  padding: 10px;
  
  will-change: background-position;
}
.double-dashed-border {
  animation: to-the-right 800ms linear infinite;
}
.double-dashed-border-2 {
  animation: to-the-left 800ms linear infinite;
}

@keyframes to-the-right {
  from {
    background-position: 0 0, 0 14px;
  }
  to {
    background-position: 24px 0, 24px 14px;
  }
}

@keyframes to-the-left {
  from { 
    background-position: 0 0, 0 14px; 
  }
  to {
    background-position: -24px 0, -24px 14px; 
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding: 65px 0 80px;
}

.events div {
  text-align: center;
  letter-spacing: 0.3px;
}

.events div p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.see-all-button {
  position: absolute;
  z-index: 30;
  background-color: white;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  width: 180px;
  padding: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.see-all-button:hover {
  background-color: black;
}
.see-all-button:hover a {
  color: white;
}
.see-all-button a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}

.home__address {
  border: 1px solid goldenrod;
  margin: 30px 5vw;
  padding-inline: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.address {
  padding: 90px 30px;
  font-family: "Antic Didone", serif;
  font-size: 3vw;
  font-weight: 550;
  transform: scaleX(1.1);
  text-align: center;
  max-width: 700px;
}

.map {
  max-width: 700px;
}

/* *********************************** */
.food-panel {
  background-color: var(--clr-blue);
  z-index: 75;
}

.retail-panel {
  background-color: var(--clr-red);
  z-index: 50;
}

.community-panel {
  background-color: var(--clr-orange);
  z-index: 25;
}

.active {
  width: 88%;
}

.active .tab-name {
  transform: rotate(0);
  margin-left: 2.5rem;
}

@media screen and (max-width: 800px) {
  .panel p {
    left: 0.8rem;
  }
}