*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
} 

:root {
  --clr-blue: #5ea3ec;
  --clr-red: #f64444;
  --clr-orange: #ffb400;
  --font-1: "Saira", sans-serif;
  --font-2: "Antic Didone", serif;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font-1);
  scroll-behavior: smooth;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 4%;
  transition: all 600ms ease;

  /* border: 5px solid lawngreen; */
}

.panel .tab-name {
  transform: rotate(90deg);
  transform-origin: 10px 40px;
  transition: opacity 300ms ease, transform 700ms ease, background-color 300ms ease, color 300ms ease;;
  /* border: 1px solid black; */
  border-radius: 4px;
  padding: 0 10px;
  text-transform: capitalize;
  color: rgb(0, 0, 0, 0.8);
  font-size: clamp(0.9rem, 0.55rem + 1.4vw, 1.6rem);
  font-weight: 500;
  position: sticky; /*  */
  z-index: 20;
  width: fit-content; /*  */
  top: 0.5rem;
  opacity: 1;
  cursor: pointer;
}
.panel .tab-name:hover {
  color: black;
} 
.home-panel .tab-name {
  background-color: rgb(255, 255, 255, 0.6);
}
.home-panel .tab-name:hover {
  background-color: rgb(255, 255, 255, 0.85);
}
.food-panel .tab-name {
  background-color: rgb(94, 163, 236, 0.6);
}
.food-panel .tab-name:hover {
  background-color: rgb(94, 163, 236, 0.85);
}
.retail-panel .tab-name {
  background-color: rgb(246, 68, 68, 0.6);
}
.retail-panel .tab-name:hover {
  background-color: rgb(246, 68, 68, 0.85);
}
.community-panel .tab-name {
  background-color: rgb(255, 180, 0, 0.6);
}
.community-panel .tab-name:hover {
  background-color: rgb(255, 180, 0, 0.85);
}

/**************/
/* HOME PANEL */
/**************/
.home-panel {
  background-color: white;
  z-index: 10;
}

.panel-content {
 /*  opacity: 0; */
  display: none;
  /* visibility: hidden;   */
  pointer-events: none;
  transition: opacity 600ms ease 400ms;
}

.visible {
  /* opacity: 1; */
 /*  visibility: visible; */
  display: block;
  pointer-events: auto; 
}

.panel-content:not(.visible) {
  transition-delay: 0s;
  transition-duration: 0s;
}

.home__title p {
  margin: 23vh 12vw 300px 8vw;
  font-size: 5vw;
  font-weight: 550;
  font-family: var(--font-2);
  transform: scaleX(1.1) !important;
}

.background-image {
  background-image: url(images/bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  min-height: 100vh;
  width: 100%;
}

.home__title-2 {
  margin: 220px 0 100px 8vw;
  font-size: 5.5vw;
  font-weight: 550;
  font-family: var(--font-2);
  transform: scaleX(1.1) !important;
}

.home__market-info-grid {
  margin: 0 5vw 100px 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  min-height: 60vh;
}

.image-div-1 {
  background-image: url(images/pic1.jpg);
}
.image-div-2 {
  background-image: url(images/pic2.jpg);
}
.image-div-3 {
  background-image: url(images/pic3.jpg);
}

.image-div-1,
.image-div-2,
.image-div-3 {
  background-position: 50% 100%;
  background-size: cover;
  display: block;
  height: 80%;
  min-height: 550px;
  width: 100%;
}

.grid-text {
  margin: 30px 0 10px;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  font-weight: 450;
}

.home__market-events {
  display: flex;
  align-items: center; 
  justify-content: space-around;
  margin: 0 5vw 100px 5vw;
}

.market-events-title {
  font-size: 5vw;
  font-weight: 550;
  font-family: var(--font-2);
  transform: scaleX(1.1);
}

.emoticon {
  font-size: 5rem;
}

.home__market-events-list {
  position: relative;
  margin: 0 5vw 0 5vw;
}

.double-dashed-border,
.double-dashed-border-2 {
  background-image: 
    linear-gradient(to right, black 12px, transparent 12px), linear-gradient(to right, black 12px, transparent 12px);
  background-position: 0 0, 0 14px;
  background-size: 24px 1px; /* dash length, line thickness */
  background-repeat: repeat-x;
  padding: 10px;
  
  will-change: background-position;
}
.double-dashed-border {
  animation: to-the-right 800ms linear infinite;
}
.double-dashed-border-2 {
  animation: to-the-left 800ms linear infinite;
}

@keyframes to-the-right {
  from {
    background-position: 0 0, 0 14px;
  }
  to {
    background-position: 24px 0, 24px 14px;
  }
}

@keyframes to-the-left {
  from { 
    background-position: 0 0, 0 14px; 
  }
  to {
    background-position: -24px 0, -24px 14px; 
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding: 65px 0 80px;
}

.events div {
  text-align: center;
  letter-spacing: 0.3px;
}

.events div p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.see-all-button {
  position: absolute;
  z-index: 30;
  background-color: white;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.see-all-button,
.click-here-button {
  border: 1px solid black;
  width: 180px;
  padding: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
}


.see-all-button:hover,
.click-here-button:hover,
.food__vendor-container .click-here-button:hover,
.retail__vendor-container .click-here-button:hover {
  background-color: black;
}
.see-all-button:hover a,
.click-here-button:hover a {
  color: white;
}
.see-all-button a,
.click-here-button a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}

.home__address {
  margin: 7rem 5vw 5rem;
  padding-inline: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 85px;
  align-items: center;
}

.address {
  padding: 90px 30px;
  font-family: var(--font-2);
  font-size: 3.2vw;
  font-weight: 550;
  transform: scaleX(1.1);
  text-align: center;
  width: 100%;
  max-width: 700px;

  background-image: linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px);
  /* t b l r */
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px; 
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.map {
  max-width: 700px;
  
  padding: 1px;
  background-image: linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px);
  /* t b l r */
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px; 
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}
.map img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.home__vendor-container,
.food__vendor-container,
.retail__vendor-container {
  text-align: center;
  font-family: var(--font-2);
  
  font-weight: 550;
  background-image: repeating-linear-gradient(-74deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px), repeating-linear-gradient(-74deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px);
  background-position: 100% 0%, 0% 100%;
  background-size: 100% 20px, 100% 20px; 
  background-repeat: repeat-x, repeat-x;
  padding: 60px;
  margin-inline: 5vw;
  margin-bottom: 3.5rem;
}
.home__vendor-container p,
.food__vendor-container p,
.retail__vendor-container p {
  font-size: 2.6rem;
}
.click-here-button {
  background-color: white;
  margin-inline: auto;
  margin-top: 2rem;
}
.food__vendor-container .click-here-button {
  background-color: var(--clr-blue);
}
.click-here-button a {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 1rem;
}

footer {
  margin-inline: 5vw;
}

.social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  margin-bottom: 3.5rem;
}
.social-media-container div {
  text-align: center;
  padding: 55px;
  cursor: pointer;
}

.social-media-container div,
.email-container {
   background-image: linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to right, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px), linear-gradient(to bottom, black 14px, transparent 14px);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px; 
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.social-media-container i {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.social-media-container p {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}
.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  margin-bottom: 2rem;
}

.email-container>div {
  width: 100%;
  max-width: 260px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.email-container form {
  width: 100%;
  max-width: 680px;
  position: relative;
}
.email-container input {
  padding: 20px 30px;
  width: 100%;
  border: 1px solid black;
}
.food__vendor-input {
  background-color: var(--clr-blue);
}

.email-container input::placeholder {
  color: black;
  letter-spacing: 1px;
}
.email-container span {
  font-size: 1.6rem;
  position: absolute;
  right: 30px;
  top: 7px;
  cursor: pointer;
}

.copyright-container {
  text-align: center;
  font-size: 0.95rem;
  padding: 30px 0;
}

/*******************************/
/* FOOD PANEL *** RETAIL PANEL */
/*******************************/
.food-panel {
  background-color: var(--clr-blue);
  z-index: 75;
  /* height: min-content; */
}

.food__hours,
.retail__hours {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: right;
  padding: 2rem 4rem;
}

.food__title-image,
.retail__title-image {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 1rem;
  margin-inline: 5vw;
  margin-bottom: 8rem;
}
.food-title,
.retail-title {
  text-transform: capitalize;
  font-size: 12rem;
  font-family: var(--font-2);
  line-height: 12rem;
}

.food-image-container,
.retail-image-container {
  text-align: right;
}

.food-image-container img,
.retail-image-container img {
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}
.zigzag-wrapper {
  margin-inline: 5vw;
  overflow-x: hidden;
}
.zigzag {
  display: flex;
  width: max-content; 
  animation: slide-zigzag 15s linear infinite;
}

.zigzag svg {
   flex-shrink: 0;
}

@keyframes slide-zigzag {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-50%)
  }
}

.happy-hour-info-container,
.the-best-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}
.happy-hour-info-container h2 {
  text-transform: capitalize;
}
.happy-hour-info-container h2,
.the-best-info-container h2 {
  font-size: 6rem;
  font-family: var(--font-2);
  line-height: 1;
}
.happy-hour-info-container p,
.the-best-info-container p {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.happy-hour-info-container i,
.the-best-info-container i {
  font-size: 10rem;
  animation: up-and-down 1.5s linear infinite alternate;
}

@keyframes up-and-down {
  0% {
    transform: translateY(-30px)
  }
  100% {
    transform: translateY(30px)
  }
}

.food__businesses,
.retail__businesses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 7rem 5vw 8rem;
}
.food__businesses div,
.retail__businesses div {
  cursor: pointer;
}
.food__businesses span,
.retail__businesses span {
  font-size: 1.2rem;
}
.food__businesses h3,
.retail__businesses h3 {
  font-size: 2rem;
}

/****************/
/* RETAIL PANEL */
/****************/

.retail-panel {
  background-color: var(--clr-red);
  z-index: 50;
}
.retail__vendor-container .click-here-button {
  background-color: var(--clr-red);
}
.retail__vendor-input {
  background-color: var(--clr-red);
}
.community-panel {
  background-color: var(--clr-orange);
  z-index: 25;
}

.active {
  width: 88%;
/*   height: min-content;
  overflow: hidden; */
}

.active .tab-name {
  transform: rotate(0);
  margin-left: 2.5rem;
}

@media screen and (max-width: 800px) {
  .panel p {
    left: 0.8rem;
  }
}